<div class="container">

	<h2>instantgramme</h2>

</div>

<div class="containerleft">

	<h4><%= @user.username %></h4>
	<p><b><%= @user.name.capitalize %>'s posts!</b></p>

	<% @user.posts.each do |post| %>
		<%= image_tag post.image, :class => 'thumb' %>
	<% end %>

	<% @user.posts.each do |post| %>
		<%= image_tag post.image_url, :class => 'thumb' %>
	<% end %>
</div>

<div class="container">
	<div class="controls">
		<%= link_to 'Edit', edit_user_path(@user) %>
		<%= link_to 'Delete', @user, :method => 'delete', :data => { :confirm => "Are you sure?" } %>
	</div>
</div>
