<%= form_for @post do |f| %>
<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :content %>
	<%= f.text_area :content %>
</p>
<p>
	<%= f.label :image %>
	<%= f.url_field :image %>
</p>
<p>
	<%= label_tag "Your image: " %>
	<%= cl_image_upload_tag :file %>
</p>
<p>
	<%= label_tag "Number of Likes: " %>
	<%= number_field_tag :like_count %>
</p>

<%= f.submit %>
<% end %>