<h2><%= @post.title %></h2>

<%= image_tag @post.image, :class => 'feature' %>

<p><%= @post.content %></p>

<div class="controls">
	<%= link_to('Delete', @post, :method => 'delete', :data => { :confirm => 'Are you sure?' } ) %>
	<%= link_to 'Edit', edit_post_path(@post) %>
</div>